<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligz.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.ligz.model.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, description
    </sql>

    <select id="selectAll" resultType="com.ligz.model.Role">
        select
        <include refid="Base_Column_List"/>
        from role
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ligz.model.Role" useGeneratedKeys="true">
        insert into role (name, description)
        values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.ligz.model.Role">
        update role
        set name = #{name,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectPermissionsByPrimaryKey" parameterType="java.lang.Integer"
            resultType="com.ligz.model.Permission">
        select *
        from role_permission, permission
        where role_permission.permission_id = permission.id
        and role_permission.role_id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deletePermissions" parameterType="java.lang.Integer">
        delete from role_permission
        where role_id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertRolePermission">
        insert into role_permission (role_id, permission_id) VALUES (#{role_id}, #{permission_id})
    </insert>
</mapper>